*{
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
    color:inherit;
  }
.column>a:hover{
    background-color: grey;
}
  
ul,ol{
    list-style-type: none;
}

.fixedtop{
    text-align: center;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: #eb9e34;
}


#logo{
    height: 2rem;
    width: 8rem;
    text-align: center;
}

.top{
    display: grid;
    grid-template-columns: 1fr 8fr 4fr;
    margin: 0.5em;
    
}
main{
    margin-top: 12em;
}

.search{
    font-size: 1.2em;
    border: 1px solid lightgrey;
    box-shadow: 1px 1px 1px 1px lightgray;
    padding-left: 1em;

}
.topbar{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-size: 1em;
    padding-top:0.3em;
}


.column{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr;
    font-size: 1.5em;
    line-height: 2em;
}

hr{
    margin: 0 auto;
    border-top: 1px solid grey;
}

.cart{
    border: none;
    background-color: inherit;
  }

.filterbar{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin: 0 2em;
}

.filterbox{
    border-radius: 15px;
    background-color: lightgrey;
    margin: 0 2em;
}

.sortoption{
    display: flex;
    text-align: left;
    margin: 0.3em;
}

.optionbtn {
    background-color: white;
    text-align: center;
    line-height: 2em;
    border-radius: 15px;
    padding: 0 1em;
    margin: 0.5em 1em;

}

.optionbtn:hover {
    background-color: black;
    color: white;
}

.switch{
    background-color:inherit;
    position: fixed;
    right: 1em;
    top: 6.2em;
    z-index: 20;
}

.switchbtn{
    border: 1px solid black;
    margin: 0.2em;
    padding: 0.2em;
    border-radius: 10px;
    width:3em;
}

.banner{
    width: 100%;
    text-align: center;
    margin-bottom: 2em;
}
.products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin: 0 1em;
    padding: 1em;
    grid-gap: 1em;
}

.item {
    position: relative;
    text-align: center;
    border: 1px solid grey;
    box-shadow: 5px 7px lightgrey;
}

.itemname{
    font-size: 1.2em;
}

.cartbtn{
    margin-top:1em;
    border: 1px dashed white;
    background-color: Black;
    color: white;
    padding: 1em 2em;
    font-size: 1.2em;
    width: 100%;
}

.onsale{
    color: white;
    background-color: red;
    position: absolute;
    top: -1em;
    left:0em;
    text-align: center;
    font-size: 1em;
    margin-top:1em;
    z-index:2;
    width: 100%;
    padding: 0.3em 0;
}

.soldout{
    color: white;
    background-color: grey;
    position: absolute;
    top: -1em;
    left:0em;
    text-align: center;
    font-size: 1em;
    margin-top:1em;
    z-index:2;
    width: 100%;
    padding: 0.3em 0;


}

.footermenu{
    margin-top: 2em;
    z-index: 5;
    position: relative;

}

.bottom1{
    display: block;
    height: 7em;
    background-color: white;
}

.bottom2{
    display: block;
    height: 8.7em;
    background-color: black;
    position: relative;
}
.footimage{
    position: absolute;
    top: 0;

}
.ad{
    /* margin-left:7em; */
    color: white;
    font-size: 2em;
    position: absolute;
    left: 7em;
    top:1.5em;
}
.app{
    position: absolute;
    right: 1em;
    top: 3em;
    height: 3em;
    width: 10em;

}

@media screen and (max-width:768px){
    .products{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .column{
        font-size: 1em;
    }
    .topbar{
        font-size: 0.7em;
    }
      
     
}

@media screen and (max-width:425px) {
    .products{
        grid-template-columns: 1fr 1fr;
    }
    .column{
        font-size: 0.7em;
    }
    .topbar{
        font-size: 0.5em;
    }
  
}
  
  
  

  

